<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
	  <style>
    #t01 {
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
 </p>
 
<h2> Record Match Result </h2>

<p> Enter the ID#s and score for your match below. League matches should be scored as one game to 11, win by 1. The current roster with ID labels is displayed below.     </p>

<form method="post" action="/submit2">
    <p>Team 1 Player 1 (ID#): <input type="text" name="p1"></p>
    <p>Team 1 Player 2 (ID#): <input type="text" name="p2"></p>
    <p>Team 2 Player 1 (ID#): <input type="text" name="p3"></p>
    <p>Team 2 Player 2 (ID#): <input type="text" name="p4"></p>
    <p>Team 1 Score: <input type="text" name="s1"></p>
    <p>Team 2 Score: <input type="text" name="s2"></p>

    <p><input type="submit" value="Submit Match"></p>
</form>

	    <h2>
      Current Roster
	</h2> </div>
	  <table id="t01" class="center">
		  <tr><td><bf>ID#</bf></td><td><bf>   Name </bf></td><td><bf>   City </bf></td><td><bf>   Contact </bf></td></tr>
	
    {% for person in roster %}
<tr>
	<td>{{ person.id }} </td><td> {{ person.name }}</td><td> {{ person.city }}</td><td> {{ person.contact }}</td>
    </tr>
{% endfor %}
	  </table>


    <form method="post" action="/goHome">
    <p><input type="submit" value="Return to league homepage"></p>
</form>

  </body>
</html>
