<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
	  <style>
    #t01 {
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
 </p>
 
<h2> Record Match Result </h2>

<p> Enter the ID#s and score for your match below.  </p>

<form method="post" action="/submit2">
    <p>Team 1 Player 1 (ID#): <input type="text" name="p1"></p>
    <p>Team 1 Player 2 (ID#): <input type="text" name="p2"></p>
    <p>Team 2 Player 1 (ID#): <input type="text" name="p3"></p>
    <p>Team 2 Player 2 (ID#): <input type="text" name="p4"></p>
    <p>Team 1 Score: <input type="text" name="s1"></p>
    <p>Team 2 Score: <input type="text" name="s2"></p>

    <p><input type="submit" value="Submit Match"></p>
</form>




  </body>
</html>
