<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
	  <style>
		  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
		  h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
form {text-align: center;}
    #t01 {
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
  <h1> Pickleball League Info </h1>
  
  <p> Welcome to the homepage for the {{ sess.name }}. The Roster section below shows the list of current registered players and their ID numbers. 
    If you don't have an ID yet, use the New Registration form below to get one.
    If you already have an ID, you can use that to enter your match results or view the current league standings. </p>
    
     
<form method="post" action="/submitR">
			  <p><input type="submit" value="New Registration"></p>
      </form>
    
<form method="post" action="/submitM">
			  <p><input type="submit" value="Record Match"></p>
      </form>

<form method="post" action="/submitS">
			  <p><input type="submit" value="View Current Standings"></p>
      </form>
<div>  
    <h2>
      Current Roster
	</h2> </div>
	  <table id="t01" class="center">
		  <tr><td><bf>ID#</bf></td><td><bf>   Name </bf></td><td><bf>   City </bf></td><td><bf>   Contact </bf></td></tr>
	
    {% for person in roster %}
<tr>
	<td>{{ person.id }} </td><td> {{ person.name }}</td><td> {{ person.city }}</td><td> {{ person.contact }}</td>
    </tr>
{% endfor %}
	  </table>

<form method="post" action="/submitRR">
			<p><input type="submit" value="Generate Round Robin Matches"></p>
			  <p>Number of Players: <input type="text" name="numplay"></p>
			 </form>

  </body>
</html>
