<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
	  <style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}		 
    #t01 {
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
  <h1>Pickleball League App </h1>
  
  <p>Select your league below to enter match information and see current league standings. </p>
  <div>
	    <form method="post" action="/submitP">
	    <input type="radio" id="PT" name="League" value="PT">
	  <label for="PT">Pullman 4.0+ Tournament (3/27)</label><br>
   <input type="radio" id="LADV" name="League" value="LADV">
  <label for="LADV">Nellyville Advanced League</label><br>
<input type="radio" id="LINT" name="League" value="LINT">
  <label for="LINT">Nellyville Intermediate League</label><br>
  <!--<input type="radio" id="PP" name="League" value="PP">
	  <label for="PP">Pullman Parks and Rec</label><br>-->
	    <input type="radio" id="T" name="League" value="T">
  <label for="test">Test</label><br><br><br>
  <label for="pwd">Password:</label><br><br>
  <input type="password" id="pwd" name="pwd">
  <p><input type="submit" value="Go to League!"></p>
	  </form> </div>
	  
	   <img src="https://raw.githubusercontent.com/ddefordWSU/PickleLeagueTest/main/localflasktest/img/pickle1.png" alt="Serve" width="440" height="330" class="center"> <br><br>
	   <img src="https://raw.githubusercontent.com/ddefordWSU/PickleLeagueTest/main/localflasktest/img/pickle2.png" alt="Dink" width="440" height="330" class="center"> <br><br>
	   <img src="https://raw.githubusercontent.com/ddefordWSU/PickleLeagueTest/main/localflasktest/img/pickle3.png" alt="Stack" width="440" height="330" class="center"> <br><br>
	 
	  <div> Cartoons from these <a href="http://math.wsu.edu/faculty/ddeford/PickleNotes.pdf">Pickleball Notes</a>. </div>

  </body>
</html>
