<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
	  <style>
    #t01 {
      border-spacing: 5px;
padding: 15px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
  <h1>Pickleball League App </h1>
  
  <p>Select your league below to enter match information and see current league standings. </p>
  
  <form method="post" action="/submitP">
  <input type="radio" id="LINT" name="League" value="LINT">
  <label for="LINT">Lewiston Intermediate</label><br>
  <input type="radio" id="LADV" name="League" value="LADV">
  <label for="female">Lewiston Advanced</label><br>
  <input type="radio" id="PP" name="League" value="PP">
	  <label for="other">Pullman Public</label><br>
	    <input type="radio" id="T" name="League" value="T">
  <label for="other">Test</label><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd">
  <p><input type="submit" value="Go to League!"></p>
</form> 
	  
	   <img src="./img/pickle1.png" alt="Serve">
	   <img src="./img/pickle2.png" alt="Dink">
	   <img src="./img/pickle3.png" alt="Stack">
	  Cartoons from these <a href="http://math.wsu.edu/faculty/ddeford/PickleNotes.pdf">Pickleball Notes</a>.

  </body>
</html>
