<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Standings</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
<style>
    #t01 {
  width: 100%;
      border-spacing: 5px;
padding: 10px;
    border: 1px solid black;
} 
    </style>
  </head>
  <body>
  
  <h1>Head to Head</h1>
  
  <h3>Current League Standings</h3>
  
<table id="t01">
  <tr> <td>  Name </td><td> ID# </td><td>Wins</td><td> Points Scored</td><td> Points Against </td><td> Games </td></tr>
    {% for H in Hlist %}
    <tr>
      <td>  {{ H.name }} </td><td> {{ H.id }} </td><td> {{ H.wins }} </td><td> {{ H.points }} </td><td> {{ H.pointsagainst }} </td><td> {{ H.games }} </td>
    </tr>
{% endfor %}
    </table>

    <form method="post" action="/goHome">
    <p><input type="submit" value="Return to league homepage"></p>
</form>
  </body>
</html>
