<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pickle League Standings</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
  
  <h1>Individual Standings</h1>
  
  <h3>Current League Standings</h3>
  
<table>
  <tr> <td>  Name </td><td> ID# </td><td>Wins</td><td> Points </td><td> Games </td>
    {% for person in plist %}
    <tr>
      <td>  {{ plist.name }} </td><td> {{ plist.id }} </td><td> {{ plist.wins }} </td><td> {{ plist.points }} </td><td> {{ plist.games }} </td>
    </tr>
{% endfor %}
    </table>

  </body>
</html>
